.question_warp{
	text-align: center;
	padding: 2rem 1rem;
}

.question_title{
	font-weight: 600;
	margin-bottom: 2rem;
}

.section_wrap{
	margin-top: 1rem;
	text-align: left;
}

.section_title{
	font-weight: 600;
	padding-bottom: 0.25rem;
	border-bottom: 0.0625rem solid gray;
}

.choice_wrap{
	padding: 0.25rem 0;
	display: block;
}

.submit_button{
	padding: 0.7rem 3rem;
	background-color: white;
	border: 0.0625rem solid gray;
	border-radius: 0.3125rem;
	margin-bottom: 2rem;
	font-size: large;
}

.submit_button:hover{
	background-color: whitesmoke;
}

.button_wrap{
	text-align: center;
}

.noteText{
	text-align: left;
	border-top: 0.0625rem solid gray;
	color: darkgray;
}

.feedback_wrap{
	text-align: right;
}

.feedback_button{
	padding: 0.3rem 1rem;
	background-color: white;
	border: 0.0625rem solid gray;
	border-radius: 0.3125rem;
}

.ans_wrap{
	display: none;
	visibility: hidden;
}

